.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
.lb-lg {
  font-size: 20px;
}
.hint{
  color:#0047b3;  
}
body{
	background-color:#F5F3EE;
	margin:0;
}
.date-move{
	margin-left:50px;
}
footer {
     position:fixed;
    bottom:0;

}
h1{
	margin:0;
}
.navbar-nav {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}
.center{
	display:block;
	text-align:center;
	margin:0;
	background-image: url("blue.png");
}